{% extends 'base.html.twig' %}

{% block title %}My Account - FonyShop{% endblock %}

{% block content %}

  <h1>My account</h1> 
  <p>Welcome {{ app.user.firstname }} to your account.</p>
  <p>This is where you will manage all your personal data.</p> 
  <ul>
    <li><a href="{{ path('account_password') }}">Update Password</a></li>
    <li><a href="{{ path('account_address') }}">My Address</a></li>
    <li><a href="{{ path('account_order') }}">My orders</a></li>
  </ul>

{% endblock %}
