{% extends 'base.html.twig' %}

{% block title %}Update password - FonyShop{% endblock %}

{% block content %}
    <h1>Update password</h1>
    <a href="{{ path('account')}}">Back to my account</a>
    <hr/>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr/>

{% endblock %}
