.navbar-item-custom, .navbar-item-custom a{
    color: #fff;
}

.footer-custom{
    text-align: center;
    width: 100%;
    background-color: #dfeaff;
    padding: 25px 0px;
}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item{
    margin-top: 50px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price{
    font-size: 15px;
    font-weight: bold;
}

.product-page-price{
    font-size: 16px;
}

.cart-item{
    height: 20px;
    padding-left: 20px;
}