{% extends 'base.html.twig' %}

{% block content %}
    <div class="block-small">
        <h1 class="text-center">Sign Up</h1>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
            <hr>
        {% endif %}
        {{ form(form) }}
        <hr>
        <p class="text-center">Or <a href="{{ path('app_login') }}">Sign In</a> ?</p>
    </div>
{% endblock %}
