{% extends 'base.html.twig' %}

{% block title %}Page Not found! - FonyShop {% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Page Not found</h2>
        <p>Sorry, this page does not seem to be accessible at the moment</p>
        <a href="{{ path('home') }}" class="btn btn-info">Return to home</a>
    </div>
{% endblock %}
